/* COLOR 
background sony #000000 nero
background accedi #363636 grigio
background acquista ora #cd3d0f arancione
background immagini border hover - scritta pay has no limit + sottolineatura hover accessori play (es. cuffie) #0072ce blu
colore scritta tuffati in nuove possibilità.... #727272
background maggiori informazioni + scopri di più #2d64e6 blu - scritta bianca
background nuove uscite #1f1f1f grigio piombo  scritte #ffffff bianco
background playstation plus #bebcbb grigio chiaro
background esplora playstation plus #d9dadc grigio + chiaro - scritta  #3469e6
background playstation now #161c3b scritte bold bianche 
background esplora playstation now #ffffff bianco + scritta #161c3b  blu scuro 
colore scritta seguici sui social #1f1f1f
background footer #00439c + scritte bianche  */

/* SEZIONE COMUNE A TUTTI */

* {
    font-family: Arial, Helvetica, sans-serif;
    }

[class^="button-"] {
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

[class^="button-"]:hover {
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
}

.space {
    padding-top: 50px;
}

.space-middle {
    padding-top: 15px;
}

.space-double {
    padding-top: 100px;
}

/* HEADER - SUDDIVISA IN 3  */

/* PARTE 1 NERO */

.black-sony {
    background-color: black;
    padding: 10px;
    text-align: end;
}

.black-sony img {
    width: 100px;
}

/* PARTE 2 NAV BAR */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
}

.link-nav {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 20px;
    text-decoration: none;
}

.link-nav a:hover {
    color: #0072ce;
}

.conteiner-right {
    display: flex;
}

.container-right {
    text-align: end;
}

.content-right a  {
    padding-right: 30px;
}

.content-right span {
    padding-left: 20px;
}

.cerca i {
    font-size: 20px;
}

.button-login {
    background-color: #363636;
    color: white;
}

/* PARTE 3 HEADER RETURNAL - BOOTSTRAP SOTTO MEDIAQUERY */

.background-header {
    background-image: url(../img/jumbo-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 675px;    
}

.container-return-content {
    color: white;
}

.content-return-image img {
    width: 100%;
    padding-bottom: 30px;
}

.content-return h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}

.content-return p {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 30px;
}

.button-buy {
    background-color: #cd3d0f;
    color: white;
}


/* INIZIO SEZIONI DEI GIOCHI  */

/* PARTE A parte 1 BOOTSTRAP */

.box-mini, .play-inner, .box {
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.box-mini img, .box img, .new-exit-box img {
    width: 100%;
}

.box-mini:hover {
    border: 2px solid #2d64e6 ;
}

/* PARTE A parte 2 BOOTSTRAP */

.color-bold-font {
    text-align: center;
}

/* PARTE A parte BOOTSTRAP  */

.color-bold-font h6 {
    color: #2d64e6;
    font-weight: 600;
}

.color-bold-font h1 {
    font-weight: 700;
}

.color-bold-font h3 {
    color: #727272;
    font-weight: 700;
}

.button-maggiori {
    background-color: #0072ce;
    color: white;
}

#color-left {
    text-align: left;
}

.box-opacity {
    filter: opacity(50%);
    padding-bottom: 10px;
}

.box-opacity a {
    color:black; 
}

.box-opacity:hover {
    transition-duration: 1s;
    filter: opacity(100%);
    border-bottom: 2px solid #2d64e6;

}

.box-text-center {
    text-align: center;
}

 /* PARTE B parte 1 BOOTSTRAP  */

 .background-middle {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 675px;    
}

.container-take-content {
    padding-top: 50px;
}

.content-take-image img {
    width: 100%;
}

.content-take-text {
    color: white;
}

.content-take-text p {
    font-weight: 600;
}


/* PARTE B parte BOOTSTRAP */

.bg-middle-color {
    background-color: #1f1f1f;
    color: white;
}

.new-exit {
    padding-bottom: 50px;
}

.new-exit-box img {
    width: 100%;
    border-radius: 20px;
}

.new-exit-text {
    font-size: 20px;
    font-weight: 600;
}

/* PARTE C parte 1 BOOTSTRAP*/

.playstation-4 {
    text-align: center;
}

.playstation-4 h2 {
    font-weight: 600;
}

.trade-min {
    font-size: 16px;
    vertical-align: super;
}

/* PARTE C parte 2 BOOTSTRAP*/

.explore-ps-box img {
    width: 100%;
}

.explore-ps-text h2 {
    font-weight: 600;
}

.explore-ps-text p {
    font-size: 20px;
}

/* PARTE D parte 1 BOOTSTRAP + MEDIQUERY IN BASSO  */

.bg-lightgray {
    background-color: #bebcbb;
}

.plus-text img {
    width: 90%;
}

.plus-text p {
    font-weight: 600;
    padding: 50px 0;
}

.plus-image img {
    width: 100%;
}

.button-plus {
    background-color: #d9dadc;
    color: #3469e6;
}


/* PARTE D parte 2 BOOTSTRAP */

.discounts {
    text-align: center;
}

.discounts h2 {
    font-weight: 600;
}

.discounts-ps {
    padding-top: 15px;

}

.discounts-ps-box img {
    width: 100%;
}

.discounts-ps-text h2 {
    font-weight: 600;
}

.discounts-ps-text p {
    font-size: 20px;
}

/* PARTE E parte 1 BOOTSTRAP + MEDIAQUERY IN FONDO */

.bg-blue {
    background-color: #161c3b;
    color: white;
}

.now-text p {
    font-weight: 600;
    padding: 50px 0;
}


.button-now {
    background-color: #d9dadc;
    color: black;
}


/* PARTE E parte 2  */

.social {
    text-align: center;
}

.social h2 {
    font-size: 50px;
}

.social-ps-image  {
    padding: 10px 5px;
}

.social-ps-image img {
    width: 100%;
}

/* PARTE 1A BOOTSTRAP + MEDIAQUERY IN FONDO */

.bg-lightblue {
    background-color: #00439c;
    color: white;
    }

.footer-text p, .footer-text {
    padding: 10px 0;
}

.play-image {
    width: 100%;
    padding-bottom: 50px;
}

.globe {
width: 100%;
}


/* PARTE 1B BOOTSTRAP + MEDIAQUERY IN FONDO */
    

.container-footer ul {
    list-style-type: none;
}

.container-footer a {
    color: white; 
}

.container-footer a:hover {
    text-decoration:underline;
}


/* PARTE 2 BOOTSTRAP + MEDIAQUERY IN FONDO */

.logo-sie {
    width: 100%;
}

.mayor-underline {
    text-decoration:underline;
}

























/* MEDIAQUERY  */

/* Breakpoint di bootstrap */

@media screen and (min-width: 0px) and (max-width: 767px) {

    /* PARTE 3 RETURN ON HEAD */
    .container-return {
    padding-top: 265px;
    padding-left: 5px;
    }

    .content-return-image img {
    width: 300px;
    }

    .content-return h2 {
    font-weight: 600;
    }

    /* PARTE D parte 1 */

    .container-plus {
    padding: 20px;
    }

    .plus-text img{
    width: 300px;
    }


    /* PARTE E parte 1 */

    .container-now {
    padding: 20px;
    }

    .now-text img{
    width: 300px;
    }

    /* FOOTER PARTE 1A  */

.play-image {
width: 100px;
}

.globe {
width: 20px;
}

.logo-sie {
width: 150px;
}

}


/* ************** */

@media screen and (min-width: 768px) and (max-width: 992px)  {

    /* PARTE 3 RETURN ON HEAD */
    
    .container-return {
    padding-top: 265px;
    padding-left: 20px;

    }
    .content-return-image img {
    width: 400px;
    }

    .content-return h2 {
    font-weight: 600;
    }

    /* PARTE D parte 1 */

    .container-plus {
    padding: 20px;
    }

    .plus-text img{
    width: 300px;
    }


    /* PARTE E parte 1 */

    .container-now {
    padding: 20px;
    }

    .now-text img{
    width: 300px;
    }

    /* FOOTER PARTE 1A  */

.play-image {
width: 100px;
}

.globe {
width: 20px;
}

.logo-sie {
width: 200px;
}

}

/* ************** */

@media screen and (min-width: 993px) and (max-width: 1199px)  {

    /* PARTE 3 RETURN ON HEAD */
    
    .container-return {
    padding-top: 265px;
    padding-left: 20px;
    }

    .content-return-image img {
    width: 400px;
    }

    /* PARTE D parte 1 */

    .container-plus {
    padding-left: 20px;
    }

    .plus-text img{
    width: 500px;
    }


    /* PARTE E parte 1 */

    .container-now {
    padding-left: 50px;
    }

    .now-text img{
    width: 500px;
    }

/* FOOTER PARTE 1A  */

.play-image {
width: 100px;
}

.globe {
width: 20px;
}

.logo-sie {
width: 200px;
}

}

/* ************** */

@media screen and (min-width: 1200px) {

    /* PARTE 3 RETURN ON HEAD */

    .container-return {
    width: 500px;
    padding-top: 265px;
    padding-left: 20px;
    }   

    /* PARTE D parte 1 */
    
    .container-plus {
    padding-left: 50px;
    }

    .plus-text img{
    width: 500px;
    }

    /* PARTE E parte 1 */

    .container-now {
    padding-left: 50px;
    }

    .now-text img{
    width: 500px;
    }

/* FOOTER PARTE 1A  */

.play-image {
width: 100px;
}

.globe {
width: 20px;
}

.logo-sie {
width: 200px;
}




}