/* COLOR 
background sony #000000 nero
background accedi #363636 grigio
background acquista ora #cd3d0f arancione
background immagini border hover - scritta pay has no limit + sottolineatura hover accessori play (es. cuffie) #0072ce blu
colore scritta tuffati in nuove possibilità.... #727272
background maggiori informazioni + scopri di più #2d64e6 blu - scritta bianca
background nuove uscite #1f1f1f grigio piombo  scritte #ffffff bianco
background playstation plus #bebcbb grigio chiaro
background esplora playstation plus #d9dadc grigio + chiaro - scritta  #3469e6
background playstation now #161c3b scritte bold bianche 
background esplora playstation now #ffffff bianco + scritta #161c3b  blu scuro 
colore scritta seguici sui social #1f1f1f
background footer #00439c + scritte bianche  */

/* HEADER - PARTE SUPERIORE  */

.black-sony {
    background-color: black;
    padding: 10px;
    text-align: end;
}

.black-sony img {
    width: 100px;
}

/* NAV BAR */

div.sticky {
    position: sticky;
    top: 0;
    background-color: white;
}

.link-nav {
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 20px;
    text-decoration: none;
}

.link-nav a:hover {
    color: #0072ce;
}

.conteiner-right {
    display: flex;
}

.container-right {
    text-align: end;
}

.content-right a, .content-right span {
    padding-right: 30px;
}

.button-login {
    background-color: #363636;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.button-login:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 20px;
}

    .cerca {
    position: relative;
}

    .cerca i{
    position: absolute;
    top: 5px;
    right: 15px;
    color: gray;
}

/* HEADER GIOCO */

.background-header {
    background-image: url(../img/jumbo-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 675px;    
}

.container-return-content {
    color: white;
}

.content-return-image img {
    width: 100%;
    padding-bottom: 30px;
}

.content-return h2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}

.content-return p {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 30px;
}

.buy {
    background-color: #cd3d0f;
    color: white;
    padding: 3px 18px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.buy:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}










/* MEDIAQUERY  */

@media screen and (min-width: 280px) and (max-width: 767px) {
    .container-return {
    padding-top: 265px;
    padding-left: 5px;
    }
    .content-return-image img {
    width: 300px;
    }

    .content-return h2 {
    font-weight: 600;
    }

}
/* ************** */

@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .container-return {
    padding-top: 265px;
    padding-left: 20px;

    }
    .content-return-image img {
    width: 400px;
    }

    .content-return h2 {
    font-weight: 600;
    }

}

/* ************** */

@media screen and (min-width: 1024px) and (max-width: 1199px)  {
    .container-return {
    padding-top: 265px;
    padding-left: 20px;
    }

    .content-return-image img {
    width: 400px;
    }


}

/* ************** */

@media screen and (min-width: 1200px) {
    .container-return {
    width: 500px;
    padding-top: 265px;
    padding-left: 20px;

    }

}